.room-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 5fr 1fr 5fr
}

.room-box {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.room-code {
    font-size: 1.5rem;
    color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    background-color: #060047;
    border-radius: 16px;
    padding: 1em;
    box-shadow: 2px 2px 20px black;
}

.room-val {
    color: #A2FF86;
}

.chatters-box {
    grid-area: 2 / 1 / 3 / 2;  
    color:#f9f9f9;
    text-align: center;
    background-color: #060047;
    margin: 0px 32px;
    border-radius: 16px 16px 0px 0px;
    overflow-y: scroll;
}

.chatter-title {
    background-color: #060047;
    color:#FF5F9E;
    text-align: center;
    font-size: 1.5rem;
    padding: .6em 0px;
    position: sticky;
    top: 0;
}

.chatters {
    width: 100%;
    font-weight: bold;
}

.leave-box {
    grid-row: 3;
    grid-column: 1;
    margin: 0px 32px 32px 32px;
    border-radius: 0px 0px 16px 16px;
    background-color: #060047;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.leave-btn {
    font-size: 1.5rem;
    padding: 1em;
    color: #f9f9f9;
    border: none;
    border-radius: 16px;
    background-color: #ff3333;
    cursor: pointer;
}

.message-box {
    grid-area: 1 / 3 / -1 / -1;
    background-color: #060047;
    border-radius: 16px;
    margin: 32px 32px 32px 0px; 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.messages {
    margin: 16px;
    overflow-y: scroll;
}

#message {
    flex: 1;
}

.inputs {
    margin: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bubble {
    font-size: 1rem;
    color: #f9f9f9;
    background-color: #290047;
    border-radius: 16px;
    padding: .8em;
    flex: display;
    flex-direction: column;
}

.bubble li:first-child {
    font-weight: bold;
    padding: 0px 0px .5em 0px;
    color: #00e985;
}
.muted {
    font-size: .8rem;
    padding: 1em;
    min-width: 21ch;
    color: #f9f9f9;
}

.leave-btn:hover, .leave-btn:focus {
    background-color: red;
}

@keyframes userJoin {
    0% { transform: translateY(0px); color: #FF5F9E; }
    50% { transform: translateY(-10px); color: green; }
    100% { transform: translateY(0px); color: #FF5F9E; }
}

@keyframes userLeave {
    0% { transform: translateY(0px); color: #FF5F9E; }
    50% { transform: translateY(10px); color: red; }
    100% { transform: translateY(0px); color: #FF5F9E; }
}

.userJoin {
    animation: userJoin 1s  1;
 }   

.userLeave {
    animation: userLeave 1s  1;
}   