html {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #060047;
}

.nav-bar > li {
    font-size: 1.25rem;
    padding: .5em;
    font-weight: bold;
}

.nav-bar {
    color: #F9F9F9;
}

.haven {
    color: #FF5F9E;
}

body {
    height: 100vh;
    background-color: #B3005E;
    /*background-image: linear-gradient(to bottom right, #9F91CC, #5C4B99);*/
}
