html {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #060047;
}

.nav-bar > li {
    font-size: 1.25rem;
    padding: .5em;
    font-weight: bold;
}

.nav-bar {
    color: #F9F9F9;
}

.haven {
    color: #FF5F9E;
}

body {
    height: 100vh;
    background-color: #B3005E;
    /*background-image: linear-gradient(to bottom right, #9F91CC, #5C4B99);*/
}

/*.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: darkgray;
}*/