{% extends 'base.html' %}
{% block content %}
<div class="message-box">
    <h2>Chat Room: {{code}}</h2>
    <h3>Chatters: <span id="users"></span> <span class="fa-solid fa-users"></span></h3>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="Message" name="message" id="message">
        <button type="button" name="send" id="send-bth" onClick="sendMessage()">Send</button>
        <form method="post">
            <button type="submit" value="true" name="leave">Leave Room</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages")
    const users = document.getElementById("users");

    socketio.on("userChange", (data) => {
        users.textContent = data.chatters;
    });

    const createMessage = (name, msg) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toLocaleString()}
            </span>
        </div>
        `
        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    });

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socketio.emit("message", {data: message.value})
        message.value = "";
    };
    /* sendMessage() is called
        socketio.emit responses with the message value
        the "message" event handler is called and createMessage accordingly
    */
    

</script>
{% for msg in messages %}
    <script type="text/javascript">
        createMessage("{{msg.name}}", "{{msg.message}}")
    </script>
{% endfor %}
{% endblock %}